* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

button {
    border: 2px solid black;
    background-color: seagreen;
    border-radius: 50px;
    padding: 1rem;
    cursor: pointer;
    font-size: 3rem;
    color: white;
}

select {
    border: 2px solid black;
    background-color: #2C6BAA;
    border-radius: 50px;
    padding: 1rem;
    cursor: pointer;
    font-size: 2rem;
    color: white;
}

button:hover {
    opacity: 0.5;
}

.container-head {
    width: 1200px;
    margin: 0 auto;
    padding: 1rem;
}

.container {
    width: 1200px;
    margin: 0 auto;
    padding: 3rem;
}

.main-title {
    font-size: 3rem;
    color: black;
    text-align: center;
}

.container-play {
    padding-bottom: 2rem;
}

.row {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.col {
    flex-basis: calc(100% / 4);
}

.grid {
    display: flex;
    flex-wrap: wrap;
}

.cell {
    aspect-ratio: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    background-image: url(../img/wall2.png);
    background-size: cover;
    background-repeat: no-repeat;
}

.cell-no-bomb {
    aspect-ratio: 1;
    background-image: url(../img/wall1.png);
    background-size: cover;
    background-repeat: no-repeat;
}

.cell-bomb {
    aspect-ratio: 1;
    background-image: url(../img/wall3.png);
    background-size: cover;
    background-repeat: no-repeat;
}

.hidden {
    display: none;
}

#counter {
    padding: 1rem;
    border: 1px solid black;
    background-color: #2EB5D0;
    font-size: 2rem;
    color: white;
    font-weight: bold;
    text-align: center;
}